<div fxLayout="column wrap" style="padding:100px;padding-top: 50px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" style="fix-height: 600px;" class="shadow" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width: 5%;" class="col1-backgroung" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" style="height:30%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div style="color:white;margin-left:20px;">
          <h3>A</h3>
        </div>
      </div>
      <div fxLayout="row wrap" style="height:60%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div style="color:white;margin-left:20px;">
            <i class="material-icons">blur_linear</i>
          </div>
          <div style="color:white;margin-left:20px;margin-top:10px;">
            <i class="material-icons">notifications_none</i>
          </div>
          <div style="color:white;margin-left:20px;margin-top:10px;">
            <i class="material-icons">search</i>
          </div>
        </div>
      </div>
      <div fxLayout="row wrap" style="height:10%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div style="color:white;margin-left:20px;">
          <h3>A</h3>
        </div>
      </div>
    </div>
    <div fxLayout="column wrap" style="width: 25%;padding-right:5px;padding-top:40px;" class="col2-backgroung" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <mat-accordion>
        <mat-expansion-panel style="margin-top:5px;" class="col2-backgroung" hideToggle="false">
          <mat-expansion-panel-header>

            <mat-panel-title>
              <mat-icon style="font-size:18px;">dashboard</mat-icon>Dashboard
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Controls &amp; Validations</li>
              </ul>
            </mat-panel-description>
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Extended Controls</li>
              </ul>
            </mat-panel-description>
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Sample Layouts</li>
              </ul>
            </mat-panel-description>
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Material Forms</li>
              </ul>
            </mat-panel-description>
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Stepper / Wizard</li>
              </ul>
            </mat-panel-description>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel style="margin-top:5px;" class="col2-backgroung" hideToggle="false">
          <mat-expansion-panel-header>

            <mat-panel-title>
              <mat-icon style="font-size:18px;">file_present</mat-icon>Forms
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Controls &amp; Validations</li>
              </ul>
            </mat-panel-description>
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Extended Controls</li>
              </ul>
            </mat-panel-description>
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Sample Layouts</li>
              </ul>
            </mat-panel-description>
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Material Forms</li>
              </ul>
            </mat-panel-description>
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Stepper / Wizard</li>
              </ul>
            </mat-panel-description>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel style="margin-top:5px;" class="col2-backgroung" hideToggle="false">
          <mat-expansion-panel-header>

            <mat-panel-title>
              <mat-icon style="font-size:18px;">table_chart</mat-icon>Tables
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Controls &amp; Validations</li>
              </ul>
            </mat-panel-description>
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Extended Controls</li>
              </ul>
            </mat-panel-description>
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Sample Layouts</li>
              </ul>
            </mat-panel-description>
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Material Forms</li>
              </ul>
            </mat-panel-description>
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Stepper / Wizard</li>
              </ul>
            </mat-panel-description>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel style="margin-top:5px;" class="col2-backgroung" hideToggle="false">
          <mat-expansion-panel-header>

            <mat-panel-title>
              <mat-icon style="font-size:18px;">bar_chart</mat-icon>Charts
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Controls &amp; Validations</li>
              </ul>
            </mat-panel-description>
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Extended Controls</li>
              </ul>
            </mat-panel-description>
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Sample Layouts</li>
              </ul>
            </mat-panel-description>
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Material Forms</li>
              </ul>
            </mat-panel-description>
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Stepper / Wizard</li>
              </ul>
            </mat-panel-description>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel style="margin-top:5px;" class="col2-backgroung" hideToggle="false">
          <mat-expansion-panel-header>

            <mat-panel-title>
              <mat-icon style="font-size:18px;">settings</mat-icon>Utilities
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Controls &amp; Validations</li>
              </ul>
            </mat-panel-description>
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Extended Controls</li>
              </ul>
            </mat-panel-description>
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Sample Layouts</li>
              </ul>
            </mat-panel-description>
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Material Forms</li>
              </ul>
            </mat-panel-description>
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Stepper / Wizard</li>
              </ul>
            </mat-panel-description>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel style="margin-top:5px;" class="col2-backgroung" hideToggle="false" [disabled]="true">
          <mat-expansion-panel-header>

            <mat-panel-title>
              <mat-icon style="font-size:18px;">grid_view</mat-icon>Layouts<br>coming soon..
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Controls &amp; Validations</li>
              </ul>
            </mat-panel-description>
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Extended Controls</li>
              </ul>
            </mat-panel-description>
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Sample Layouts</li>
              </ul>
            </mat-panel-description>
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Material Forms</li>
              </ul>
            </mat-panel-description>
            <mat-panel-description class="drop-down-link">
              <ul>
                <li>Stepper / Wizard</li>
              </ul>
            </mat-panel-description>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div fxLayout="column wrap" style="width: 70%;padding:20px;height:800px;" class="col3-backgroung" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div style="color:blueviolet;">
        <i class="material-icons" style="font-size:40px;margin-left:-40px;">add_circle</i>
        <h2 style="margin-top:-10px;margin-left:30px;">Controls And Validations</h2>
      </div>
      <form [formGroup]="sampleform">
        <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div>
              <h3 style="color:#595959;">Simple Validation</h3>
            </div>
          </div>
          <div fxLayout="row wrap" style="width:100%;padding-left:20px;font-size:10px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" style="width:25%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div style="font-size:12px;">
                <h4 style="color:#808080;">Required Text</h4>
              </div>
            </div>
            <div fxLayout="column wrap" style="width:75%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput placeholder="full name" [required]="false" formControlName="name">
                <mat-error align="start" *ngIf="sampleform.controls.name.errors?.required">this field is required .</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row wrap" style="width:100%;padding-left:20px;font-size:10px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" style="width:25%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div style="font-size:12px;">
                <h4 style="color:#808080;">Optional Text</h4>
              </div>
            </div>
            <div fxLayout="column wrap" style="width:75%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput [required]="false">

              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row wrap" style="width:100%;padding-left:20px;font-size:10px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" style="width:25%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div style="font-size:12px;">
                <h4 style="color:#808080;">Email</h4>
              </div>
            </div>
            <div fxLayout="column wrap" style="width:75%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput [required]="false">

              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row wrap" style="width:100%;padding-left:20px;font-size:10px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" style="width:25%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div style="font-size:12px;">
                <h4 style="color:#808080;">Equal</h4>
              </div>
            </div>
            <div fxLayout="column wrap" style="width:75%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="column wrap" style="width:49%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                  <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                    <input matInput [required]="false">

                  </mat-form-field>
                </div>
                <div fxLayout="column wrap" style="width:49%;margin-left:10px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                  <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                    <input matInput [required]="false">

                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="row wrap" style="width:100%;padding-left:20px;font-size:10px;margin-top:-55px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" style="width:25%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div style="font-size:12px;">
                <h4 style="color:#808080;">Max Length</h4>
              </div>
            </div>
            <div fxLayout="column wrap" style="width:75%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput [required]="false">

              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row wrap" style="width:100%;padding-left:20px;font-size:10px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" style="width:25%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div style="font-size:12px;">
                <h4 style="color:#808080;">Min Length</h4>
              </div>
            </div>
            <div fxLayout="column wrap" style="width:75%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput [required]="false">

              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row wrap" style="width:100%;padding-left:20px;font-size:10px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" style="width:25%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div style="font-size:12px;">
                <h4 style="color:#808080;">Number</h4>
              </div>
            </div>
            <div fxLayout="column wrap" style="width:30%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput [required]="false">

              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row wrap" style="width:100%;padding-left:20px;font-size:10px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" style="width:25%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div style="font-size:12px;">
                <h4 style="color:#808080;">Max Value</h4>
              </div>
            </div>
            <div fxLayout="column wrap" style="width:30%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput [required]="false">

              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row wrap" style="width:100%;padding-left:20px;font-size:10px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" style="width:25%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div style="font-size:12px;">
                <h4 style="color:#808080;">Min Value</h4>
              </div>
            </div>
            <div fxLayout="column wrap" style="width:30%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput [required]="false">

              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row wrap" style="width:100%;padding-left:20px;font-size:10px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" style="width:25%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div style="font-size:12px;">
                <h4 style="color:#808080;">Date</h4>
              </div>
            </div>
            <div fxLayout="column wrap" style="width:30%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <mat-form-field [appearance]="&apos;outline&apos;">
                <input matInput placeholder="Date Picker" [matDatepicker]="picker" [required]="false" [disabled]="false">
                <mat-datepicker-toggle matSuffix [for]="picker" disabled="false"></mat-datepicker-toggle>
                <mat-datepicker #picker [disabled]="false"></mat-datepicker>

              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row wrap" style="width:100%;padding-left:20px;font-size:10px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <mat-checkbox [required]="false"></mat-checkbox>
            <div>
              <h4 style="color:#808080;margin-left:10px;margin-top: 3px;">Accept terms and conditions</h4>
            </div>
          </div>
          <div fxLayout="row wrap" style="width:100%;padding-left:20px;font-size:10px;" fxLayoutGap="20px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button color="primary" (click)="onSubmit()">Submit</button><button mat-raised-button color="warn">Clear</button></div>
        </div>
      </form>
    </div>
  </div>
</div>